---
title: Install on {{name}}
---

<strong>[[Install => install]]</strong> / <strong>[[{{name}} => {{codename}}]]</strong>

\{% if site.data.install.{{codename}}.arb \%}
<h2>IMPORTANT</h2>
\{% include install/arb_notes.html \%}
\{% endif \%}

<div class="gallery" markdown=0>
  <div class="cell square">
    <a href="windows"><img class="filter-grey" src="\{{ '/assets/images/icons/windows.svg' | relative_url \}}" alt=""></a>
    <a style="margin-top: 0.5rem" class="btn" href="windows">Install from Windows</a>
  </div>
  <div class="cell square">
    <a href="mac"><img class="filter-grey" src="\{{ '/assets/images/icons/apple.svg' | relative_url \}}" alt=""></a>
    <a style="margin-top: 0.5rem" class="btn" href="mac">Install from MacOS</a>
  </div>
  <div class="cell square">
    <a href="linux"><img class="filter-grey" src="\{{ '/assets/images/icons/linux.svg' | relative_url \}}" alt=""></a>
    <a style="margin-top: 0.5rem" class="btn" href="linux">Install from Linux</a>
  </div>
</div>
